.whatsapp-fixed {
  position: fixed;
  bottom: 100px;
  right: 80px;
  width: 70px;
  height: 70px;
  z-index: 1000;
}

.whatsapp-fixed img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.whatsapp-fixed img:hover {
  transform: scale(1.1);
}
