/* imports  */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#ContactUsMainContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 100%;
  height:90vh;

  /* margin: 1% 0 5% 0; */
}

.NavbarContactUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.KeyHighlightsContactUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.ContactUsInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scale: 1.1;
  /* border: 1px solid blue; */
}

.ContactUsInputContainerBottom {
  border: 1.5px solid #313131;
  margin-top: 5%;
  width: 824px;
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 43px;
}

.ContactUsInputContainerBottom form {
  width: 100%;
  /* border: 1px solid blue; */
  height: 100%;
}

.ContactUsInputContainerBottomMainInput {
  row-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5% 0;
}

.ContactUsInputContainerBottomMainInputSubContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
  height: 150px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 100px;
  column-gap: 80px;
  grid-template-columns: auto auto;
}

.ContactUsInputContainerBottomMainInputSeperateContaier {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
}

.ContactUsTextarea {
  width: 690px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.ContactUsTextarea textarea {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 16px;
  color: #e0e0e2;
  background-color: #17181f;
  border: 1.5px solid #2a2a2d;
  /* border: 1.5px solid red;  */
  resize: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  /* border: 1px solid green; */
}

.Contactfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
  width: 100%;
  height: auto;
  margin-top: 5%;
}

/* works after width max-width : 915px with min-width of 769px */
@media (max-width: 1024px) and (orientation: portrait) {
  #ContactUsMainContainer {
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    scale: 0.9;
    margin-bottom: 20%;
    /* overflow-x: hidden; */
  }

  .ContactUsInputContainerBottom{
    width: 95%;
  }

  .ContactUsTextarea {
    width: 80vw;
    padding: 0 12px;
  }

  .ContactUsInputContainerBottomMainInputSubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 100px;
    column-gap: 80px;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
  #ContactUsMainContainer {
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    scale: 0.9;
    overflow-x: hidden;
  }

  .ContactUsInputContainer {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.9;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #ContactUsMainContainer {
    /* border: 1px solid rgb(0, 255, 115); */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    scale: 0.9;
    margin-bottom: 30%;
    /* overflow-x: hidden; */
    /* position: static; */
  }

  .ContactUsInputContainerBottom {
    /* border: 1px solid red; */
    height: auto;
    padding: 10px 15px 10px 0;
    overflow: hidden;
    width: 98vw;
  }

  .ContactUsInputContainer {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* scale: 0.9; */
  }

  .ContactUsInputContainerBottomMainInput {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
    height: auto;
    width: 100vw;
    flex-wrap: wrap;
    /* padding: 0 100px; */
    column-gap: 80px;
    grid-template-columns: auto auto;
  }

  .ContactUsInputContainerBottomMainInputSeperateContaier {
    /* border: 1px solid blue; */
    width: 90%;
  }

  .ContactUsTextarea {
    width: 100vw;
  }

  .ContactUsInputContainerTop h2{
    font-size: 1.5rem;
  }

  .ContactUsTextarea textarea{
    width: 95%;
  }

  .ContactUsInputContainerTop {
    margin-top: 10%;
  }

  .ContactUsInputContainerBottomMainInputSubContainer {
    padding: 0;
  }
}
