
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  background-color: transparent;
  color: white;
  position: relative;
  z-index: 1000;
  width: 100vw;
  border: 1px solid #313131;
  /* border-radius:60px; */
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.8); 
  margin-bottom: 10%;
  /* margin-top: 5%; */
}


.subResponsiveNavbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0 20px;
}

.hamburger {
  cursor: pointer;
  z-index: 999;
  /* width: 13%; */
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;

}

.hamburger input {
  display: none;
  /* border: 1px solid yellow; */
}

.hamburger svg {
  height: 2.8em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-icon{
  width: 35px;
  height: 35px;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Tabs in the Center */
.center-tabs {
  display: flex;
  gap: 1em;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  height: 100%;
}

.tab {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  /* border: 1px solid green; */
}

.tab:hover {
  color: #ffe600;
}

.tab.active {
  color: #ffe600;
  border: none;
}

/* Logo on the Right */
.logo {
  display: flex;
  align-items: center;
  width: 50%;
  object-fit: fill;
  /* border: 1px solid red; */
  height: 100%;
}

.logo img{
  /* height: 10px; */
  width: 30%;
}

.logo-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.logo-link img{
  width: 90px;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.nav-links.show {
  transform: translateY(0);
  border: none;
}

.nav-links li{
  border: none;
}

.nav-item {
  margin: 20px 0;
  font-family: 'roboto', sans-serif;
  border: none;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
  font-family: 'roboto', sans-serif;
  border: none;

}

.nav-item a:hover {
  color: #ffe600;
  border: none;
}

/* Active Link Styling */
.nav-item.active a {
  color: #ffe600;
  font-weight: bold;
  border: none;
}

.NotificationDiv{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  margin-top: 10px;
  background-image: url("../../../assets/newYeaarBanner.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}

.NotificationDiv marquee{
  color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  /* border: 1px solid rgb(0, 255, 34); */
  /* margin-top: 10px; */
  font-size: 24px;
}